@import '../configs/cores.scss';

.body-carrousel {
    display: flex;
    padding: 0 35px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
}

.wrapper .fa-solid {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: $main-orange;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.wrapper .fa-solid:active {
    transform: translateY(-50%) scale(0.85);
}

.wrapper .fa-solid:first-child {
    left: -22px;
}

.wrapper .fa-solid:last-child {
    right: -22px;
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 16px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    user-select: none;
}

.carousel :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel .card {
    scroll-snap-align: start;
    height: 342px;
    list-style: none;
    background: $white-100;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0px 0px 1cap2 rgb(212, 212, 212);
}

.carousel .card .img {
    height: 100%;
    width: 148px;
}

.card .img img {
    width: 150%;
    height: 200px;
    object-fit: cover;
    box-shadow: 0px 0px 10px $main-black;
}

.carousel .card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}


@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);
    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}

.project-link {
    text-decoration: none;
    color: $main-orange;
    font-size: 1em;
    font-weight: bold;
}

.link-button {
    border-radius: 5px;
    padding: 7px;
    border: none;
    background-color: $main-white;
    box-shadow: 0px 0px 4px $boxshadow;
}