.language {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 5em;
    height: 88px;
    width: 88px;

    i {
        margin: 6px;

        &:hover {
            margin-top: 24px;
            cursor: pointer;
            transition: 0.5s;
        }

        &:not(:hover) {
            transition: 0.5s;
        }
    }

        img {
            margin: 6px;
    
            &:hover {
                margin-top: 24px;
                cursor: pointer;
                transition: 0.5s;
            }
    
            &:not(:hover) {
                transition: 0.5s;
            }
    }
}

.title-language {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;
}