.navbar {
    background-color: black;
    border-radius: 100px;
    margin-top: 20px;
    position: sticky;
    top: 15;
    padding: 4px;
    margin-bottom: 1px;
    z-index: 999;

    &__ul {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        font-size: 16px;
        align-items: center;

        &__li-item {
            text-decoration: none;
            border-radius: 40px;
            padding-block: 20px;            

            &__link {
                text-decoration: none;
                color: white;
                padding-inline: 30px;
                padding-block: 20px;
                border-radius: 40px;
            }
        }
    }
}

.actived {
    background-color: orange;
    transition: all ease 0.5s;
}